body{
    box-sizing: border-box;
    font-family: "Roboto", serif;
}
.buttons{
    width: 100%;
    height:5%;
    display:flex;
    justify-content: space-around;
}
.button{
    position: relative;
    width:12%;
    height:100%;
    font-size: 25px;
    color: darkblue;
    border: solid darkblue;
    border-radius: 10px;
    text-align: center;
}

.button:hover{
    cursor: pointer;
    color: white;
    background-color: darkblue;
}
#canvas2{
    position: relative;
    z-index: 10;
    bottom: 100vh;
    right: 15px;

}